body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background: radial-gradient(
        ellipse at center,
        #020503 0%,
        #010202 70%
    );
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: repeating-linear-gradient(
        to bottom,
        rgba(124,255,178,0.015),
        rgba(124,255,178,0.015) 1px,
        transparent 1px,
        transparent 4px
    );
}

.phone body::before {
    pointer-events: none;
    background: repeating-linear-gradient(
        to right,
        rgba(124,255,178,0.05),
        rgba(124,255,178,0.05) 1px,
        transparent 1px,
        transparent 5px
    );
}

.time {
    font-size: 1rem;
    line-height: 1;

    font-family: "Noto Sans Mono", monospace;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
    user-select: none;

    color: #ebfff3;
    animation: boot 1.2s ease-out, pulse 1s ease-in-out infinite;
    text-shadow: 0 0 0.15rem rgba(124, 255, 178, 0.35);
}

.time.locked {
    color: #7cffb2;
}

.phone .time {
    transform: rotate(90deg);
    text-shadow: 0 0 0.2rem rgba(124, 255, 178, 0.5);
}

.time:hover {
    text-shadow:
        0 0 0.1rem rgba(0, 255, 156, 0.6),
        0 0 0.3rem rgba(0, 255, 156, 0.3);
}

.time:active {
    text-shadow:
        0 0 0.15rem rgba(0, 255, 156, 0.7),
        0 0 0.4rem rgba(0, 255, 156, 0.4);
}

.ambient-glow-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ambient-glow {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: radial-gradient(
        circle,
        rgba(124, 255, 178, 0.08),
        transparent 70%
    );
    filter: blur(60px);
    animation: float 20s ease-in-out infinite;
}

.phone .ambient-glow {
       background: radial-gradient(
        circle,
        rgba(124, 255, 178, 0.16),
        transparent 70%
    );
}

@keyframes float {
    0%, 100% { transform: translate(-0.2rem, -0.1rem); }
    50%      { transform: translate(0.2rem, 0.1rem); }
}

.noise {
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
    pointer-events: none;
}

@keyframes boot {
    0%   { opacity: 0; filter: blur(10px); }
    100% { opacity: 1; filter: blur(0); }
}

@keyframes pulse {
    0%, 100% { opacity: 0.9; }
    50%      { opacity: 1; }
}
